.arrire-image-pour-site {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}
h1 {
    display: flex;
    color: rgb(255, 48, 48);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 200px 20px;
}
.navigation {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    margin-top: 10px;
}
.nav-links {
    display: flex;
    gap: 30px;
    position: absolute;
    left: 765px;
    text-align: center;
}
.nav-links a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 43, 43);
    font-size: 30px;
    text-decoration: none;
}
footer {
    color: rgb(195, 0, 255);
    text-align: center;
    padding: 15px;
    font-size: 18px;
    z-index: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(255, 0, 221);
}
.img-news {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-news img {
  max-width: 100%;
  height: auto;
}
.article-box {
    display: flex;
    justify-content: center;
}
article {
  padding: 20px;
  margin: 30px;
  text-align: left;
  max-width: 1000px;
  border-radius: 8px;
  font-size: 25px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
